@font-face {
    font-family: 'Clash Display';
    src: url('./ClashDisplay-Medium.woff2') format('woff2'),
        url('./ClashDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}