@font-face {
    font-family: 'Work Sans';
    src: url('./WorkSans-Medium.woff2') format('woff2'),
        url('./WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}